<div class="mt-4">
  <center><h3 class="mb-3">Location Directory</h3>

  <ul class="location-directory list-unstyled">


    <!-- Bjelašnica -->
    <li class="ld-item">
      <div class="ld-head">
        <h5 class="mb-1">Bjelašnica</h5>
        <small class="text-muted">Mountain • Ski area • Quiet</small>
      </div>
      <div class="ld-body">
        <div><i class="fa fa-map-marker"></i> Babin Do, Bjelašnica</div>
        <div><i class="fa fa-clock-o"></i> Check-in 15:00 · Check-out 11:00</div>
        <div><i class="fa fa-car"></i> Free parking · Wi-Fi</div>
        <div><i class="fa fa-phone"></i> +387 62 123 456 · <i class="fa fa-envelope-o"></i> booking@montana.ba</div>
      </div>
      <a href="https://www.booking.com/hotel/ba/bjelasnica-a6.en-gb.html?aid=2311236&label=en-ba-booking-desktop-j6BeANydf3CdOz6%2Adx%2AttAS652796016909%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9217989%3Ali%3Adec%3Adm&sid=ff1efbd1e1fa619d0d12e94e5e47470f&age=0&all_sr_blocks=1121735201_384947651_2_0_0&checkin=2025-10-17&checkout=2025-10-19&dest_id=313863&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=1121735201_384947651_2_0_0&hpos=1&matching_block_id=1121735201_384947651_2_0_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=1121735201_384947651_2_0_0__9180&srepoch=1760570108&srpvid=5af3a37ad1400765&type=total&ucfs=1&"
         target="_blank"
         class="btn btn-sm btn-outline-primary mt-2">
         Book on Booking.com
      </a>
    </li>

    <!-- Jahorina -->
    <li class="ld-item">
      <div class="ld-head">
        <h5 class="mb-1">Jahorina</h5>
        <small class="text-muted">Ski-in/out • Wellness</small>
      </div>
      <div class="ld-body">
        <div><i class="fa fa-map-marker"></i> Poljice, Jahorina</div>
        <div><i class="fa fa-clock-o"></i> Check-in 15:00 · Check-out 11:00</div>
        <div><i class="fa fa-bath"></i> Spa/sauna in-house · 24/7 support</div>
        <div><i class="fa fa-phone"></i> +387 62 985 723 · <i class="fa fa-envelope-o"></i> booking@montana.ba</div>
      </div>
      <a href="https://www.booking.com/hotel/ba/skirestjahorina.en-gb.html?aid=2311236&label=en-ba-booking-desktop-j6BeANydf3CdOz6%2Adx%2AttAS652796016909%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9217989%3Ali%3Adec%3Adm&sid=ff1efbd1e1fa619d0d12e94e5e47470f&all_sr_blocks=704970501_341833219_4_0_0&checkin=2025-10-17&checkout=2025-10-19&dest_id=250713&dest_type=landmark&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=704970501_341833219_4_0_0&hpos=1&matching_block_id=704970501_341833219_4_0_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=704970501_341833219_4_0_0__10000&srepoch=1760570065&srpvid=525fa36685a9010f&type=total&ucfs=1&"
         target="_blank"
         class="btn btn-sm btn-outline-primary mt-2">
         Book on Booking.com
      </a>
    </li>

    <!-- Sarajevo -->
    <li class="ld-item">
      <div class="ld-head">
        <h5 class="mb-1">Sarajevo</h5>
        <small class="text-muted">City • Business • Long-stay</small>
      </div>
      <div class="ld-body">
        <div><i class="fa fa-map-marker"></i> Kovačići</div>
        <div><i class="fa fa-key"></i> Smart self check-in · Elevator</div>
        <div><i class="fa fa-calendar"></i> Monthly rates available</div>
        <div><i class="fa fa-phone"></i> +387 61 495 510 · <i class="fa fa-envelope-o"></i> booking@montana.ba</div>
      </div>
      <a href="https://www.booking.com/hotel/ba/kovaci-2.en-gb.html?aid=2311236&label=en-ba-booking-desktop-j6BeANydf3CdOz6%2Adx%2AttAS652796016909%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9217989%3Ali%3Adec%3Adm&sid=ff1efbd1e1fa619d0d12e94e5e47470f&all_sr_blocks=944185201_376766072_5_0_0&checkin=2025-10-17&checkout=2025-10-19&dest_id=-94996&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=3&highlighted_blocks=944185201_376766072_5_0_0&hpos=3&matching_block_id=944185201_376766072_5_0_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=944185201_376766072_5_0_0__24000&srepoch=1760570243&srpvid=e682a3bca39f0008&type=total&ucfs=1&"
         target="_blank"
         class="btn btn-sm btn-outline-primary mt-2">
         Book on Booking.com
      </a>
    </li>

    <!-- Mostar -->
    <li class="ld-item">
      <div class="ld-head">
        <h5 class="mb-1">Mostar</h5>
        <small class="text-muted">Mediterranean vibe • Old Bridge</small>
      </div>
      <div class="ld-body">
        <div><i class="fa fa-map-marker"></i> Rade Bitange, Mostar</div>
        <div><i class="fa fa-sun-o"></i> Balcony views · AC</div>
        <div><i class="fa fa-car"></i> On-site parking</div>
        <div><i class="fa fa-phone"></i> +387 61 945 295· <i class="fa fa-envelope-o"></i> booking@montana.ba</div>
      </div>
      <a href="http://booking.com/hotel/ba/apartman-kristal-mostar.en-gb.html?aid=2311236&label=en-ba-booking-desktop-j6BeANydf3CdOz6%2Adx%2AttAS652796016909%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9217989%3Ali%3Adec%3Adm&sid=ff1efbd1e1fa619d0d12e94e5e47470f&all_sr_blocks=1424927501_414095960_5_0_0&checkin=2025-10-17&checkout=2025-10-19&dest_id=-89574&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=1424927501_414095960_5_0_0&hpos=1&matching_block_id=1424927501_414095960_5_0_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=1424927501_414095960_5_0_0__12000&srepoch=1760570428&srpvid=e9d6a41a0b0e008c&type=total&ucfs=1&"
         target="_blank"
         class="btn btn-sm btn-outline-primary mt-2">
         Book on Booking.com
      </a>
    </li>
  </ul>
</div>
</center>