<div class="slider_area">
  <div class="slider_active owl-carousel">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
      <div class="container">
        <div class="row"><div class="col-xl-12">
          <div class="slider_text text-center">
            <h3>Montana Resort</h3>
            <p>Unlock to enjoy the view of Martine</p>
          </div>
        </div></div>
      </div>
    </div>
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2">
      <div class="container">
        <div class="row"><div class="col-xl-12">
          <div class="slider_text text-center">
            <h3>Life is Beautiful</h3>
            <p>Unlock to enjoy the view of Martine</p>
          </div>
        </div></div>
      </div>
    </div>
  </div>
</div>

<div class="about_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5">
        <div class="about_info">
          <div class="section_title mb-20px">
            <span>About Us</span>
            <h3>Where Luxury Meets <br> the Outdoors</h3>
          </div>
          <p>Elegant rooms, local cuisine, and unforgettable views—crafted for moments you’ll remember.</p>
          <a href="#about" class="line-button">Learn More</a>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7">
        <div class="about_thumb d-flex">
          <div class="img_1"><img src="assets/img/about/about_1.png" alt=""></div>
          <div class="img_2"><img src="assets/img/about/about_2.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offers_area">
  <div class="container">
    <div class="row"><div class="col-xl-12">
      <div class="section_title text-center mb-100">
        <span>Our Offers</span><h3>Ongoing Offers</h3>
      </div>
    </div></div>
    <div class="row">
      <div class="col-xl-4 col-md-4">
        <div class="single_offers">
          <div class="about_thumb"><img src="assets/img/offers/1.png" alt=""></div>
          <h3>Up to 35% savings on Club <br> rooms and Suites</h3>
          <ul><li>Luxaries condition</li><li>3 Adults & 2 Children size</li><li>Sea view side</li></ul>
          <a href="#rooms" class="book_now">book now</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_offers">
          <div class="about_thumb"><img src="assets/img/offers/2.png" alt=""></div>
          <h3>Up to 35% savings on Club <br> rooms and Suites</h3>
          <ul><li>Luxaries condition</li><li>3 Adults & 2 Children size</li><li>Sea view side</li></ul>
          <a href="#rooms" class="book_now">book now</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_offers">
          <div class="about_thumb"><img src="assets/img/offers/3.png" alt=""></div>
          <h3>Up to 35% savings on Club <br> rooms and Suites</h3>
          <ul><li>Luxaries condition</li><li>3 Adults & 2 Children size</li><li>Sea view side</li></ul>
          <a href="#rooms" class="book_now">book now</a>
        </div>
      </div>
    </div>
  </div>
</div>

